@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800&display=swap');

:root{
  --begie: #EFEFD0;
  --black: #181A1B;
  --lightNavy: #57737A;
}
body {
  font-family: 'Heebo', sans-serif;
  background-color: #181a1b;
  color: #fff;
}

